
* {
  	box-sizing: border-box;
}
body {
	display: flex;
	min-height: 100vh;
	background: #34495e;
	font-family: 'Pacifico', cursive;
}
h1{
	position: relative;
	left: 500px;
	margin-top: 50px;
	color: #e74c3c;
	font-size: 3em;
}
.carousel{
	margin-top: 150px;
    height: 400px;
    max-width: 810px;
    position: relative;
    right: 60px;
  	overflow: hidden;
  	box-shadow: 0 0 0 10px #fff,
  	0 15px 50px;
}
.slider {
  	display: flex;
  	width: 300%;
}
.pandas{
	width: 100%;
}
.slider-pandas{
  	display: block;
  	width: 800px;
}
.btn-prev, .btn-next {
  	width: 40px;
  	height: 40px;
  	background: rgba(255, 255, 255, 0.7);
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	line-height: 40px;
  	font-size: 30px;
  	font-weight: bold;
  	text-align: center;
  	border-radius: 50%;
  	font-family: monospace;
  	cursor: pointer;
}
.btn-prev:hover, .btn-next:hover {
  	background: white;
}
.btn-prev {
  	left: 10px;
}
.btn-next {
  	right: 10px;
}
